
.About{
  padding: 5%;
  padding-bottom: 0;
   background: aliceblue;
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
  
}

.btn{
   background-color: lightgray !important;
   color: white;
   border-radius: 10px;
  
}

.download{
    font-size: 20px;
    padding: 10px;
}

@media(min-width:468){
    .container-about{
            display: flex;
            flex-direction: row;
            flex-basis: 100%;
    }
}

.about-title{
text-align: center;
flex-basis: 100%;
padding-top: 50px;

}

.about-box{
    margin-left: 15%;
    margin-right: 15%;
}

.about-box-1{
    flex:1;

}
