.Contact{
    padding: 50px;
    background-color: lightgray;
    color: white;
    font-size: 14px;
}

i{
    font-size: 40px;   
}

@media(min-width:468px){
    .container-contact{
        display: flex; 
        justify-content: space-between;
        margin-left: 25%;
        margin-right: 25%;
    
    }
}

   

.contact-box {
    flex-basis: 30%;
    text-align: center;
   margin-left: 5%;
  
}

.title-box{
text-align: center;
flex-basis: 100%;
margin-bottom: 50px;
}


.container-contact a:link{
    color: white;
    text-decoration: none;
  
}
.container-contact a:visited{
    color: white;
    text-decoration: none;
}
.container-contact a:hover{
    color: darkslategray;
}
.container-contact a:active{
    text-decoration: none;
}


