.Footer{
    background-color: lightgray;
    color: darkslategray;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
   
}
.Footer a:link{
    color: white;
    text-decoration: none;
  
}
.Footer a:visited{
    color: white;
    text-decoration: none;
}
.Footer a:hover{
    color: darkslategray;
}
.Footer a:active{
    text-decoration: none;
}


