

.centered {
  text-align: center;
        font-size: 30px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
      
}

.overlay{
    background-color: whitesmoke;
  
}
.responsive-image {
    position: relative;
    max-width: 100%;
    opacity: 0.6;
 
  }
  
  .responsive-image__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  