@media(min-width:468px){
    
    .thisContainer{
        display: flex;
        justify-content: center;
        


    }

}

.thisContainer{
     margin-left: 25%;
     margin-right: 25%;
     padding-top: 1%;
     padding-bottom: 1%;
}

.thisBox{
    flex-basis: 25%;
    text-align: center;
    padding: 3%;
  
    
}


.bar{
    background-color: lightgray;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;


}




.thisBox a:link{
    color: white;
    text-decoration: none;
  
}
.thisBox a:visited{
    color: white;
    text-decoration: none;
}
.thisBox a:hover{
    color: darkslategray;
}
.thisBox a:active{
    text-decoration: none;
}