.title{
    text-align: center;
}
.Portfolio{

    background: aliceblue;
}

.screenshots{
    height: 250px;
    width:350px;
    margin-top: 10%;
    
}

.portfoliocode {

        background-color: lightblue;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        margin-left: 10px;
       
       

}