
.Portfolio{
    background: aliceblue;
    padding: 5%;
    padding-top: 0;
    flex-basis: 100%;
}

.screenshots{
   
    max-width: 100%;
    max-height: 100%;   

    
}

.portfoliocode {
        background-color: darkslategray;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
}

@media(min-width:468px){
    .column{
        display: flex;
        flex-direction: column;
        margin: 10px;

        
    }

    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
}


.portfolio-wrapper{
    margin-left: 25%;
    margin-right: 25%;
}




ul.portfolio-ul {
    display: block;
  list-style-type: disc;

}

.title-box-portfolio{

    text-align: center;
    flex-basis: 100%;
    
    }
    



