.Skills{
    background: aliceblue;
    text-align: center;
    padding: 5%;
    color: darkslategray;
}
.skills-wrapper{
    margin-top: 5%;
    margin-left:15%;
    margin-right: 15%;

}

ul.skill-list {
   list-style-type: none;
   text-align: center;
   overflow: hidden;
   display: inline-block;
}

li{ 
    color: darkslategray;
}

@media(min-width:600px){
    .container-skills{
        display: flex; 
        justify-content: space-between;
    
    }
}

.skill-box{
    flex-basis: 20%;
    text-align: center;

}
.title-box-skill{
text-align: center;
padding-top: 50px;
}


