.Skills{
    background: aliceblue;
    text-align: center;
    padding: 5%;
    color: darkslategray;
}
.skills-wrapper{
    margin-left: 20%;
    margin-right: 20%;
}



ul.skill-list {
   list-style-type: none;
   text-align: center;
   overflow: hidden;
   display: inline-block;
}
li{ 
    color: darkslategray;
}
@media(min-width:468px){
    .container-skills{
        display: flex; 
        justify-content: space-between;
    
    }
}


.skill-box{
    flex-basis: 25%;
    text-align: center;

}
.title-box-skill{
text-align: center;
padding-top: 50px;
}


